@charset "UTF-8";
/* * {
  outline: 1px red solid;
} */
html {
  font-size: 10px;
  scroll-behavior: smooth; /*滑らかにボタンを押して該当場所に飛ぶ*/
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "Hiragino Sans", "BIZ UDPGothic", "YuGothic", "游ゴシック", sans-serif;
  font-weight: normal;
}
.container {
  width: 1000px; /*固定表示はwidth*/
  margin: 0 auto; /*center表示:上下=0,左右=auto;*/
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}
main {
  position: relative;
}
@media screen and (max-width: 680px) {
  .main {
    position: relative;
    width: 100%;
  }
}
.gla {
  position: absolute;
  z-index: 0;
  width: 1000px;
  background: -moz-linear-gradient(
    7.5% 95.43% 65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    7.5% 95.43%,
    89.85% 7.41%,
    color-stop(0, rgba(255, 228, 191, 1)),
    color-stop(0.5356, rgba(225, 255, 255, 1)),
    color-stop(1, rgba(209, 251, 255, 1))
  );
  background: -o-linear-gradient(
    65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: linear-gradient(
    24.24deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
}
@media screen and (max-width: 680px) {
  .gla {
    position: absolute;
    z-index: 0;
    width: 100%;
  }
}
.toP {
  position: relative; /*基準*/
  z-index: 10;
}
@media screen and (max-width: 680px) {
  .toP {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .toP img {
    width: 100%;
  }
}

.btn1 a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-image: url(../images/btn1.png);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
  left: 25px;
}
@media screen and (max-width: 680px) {
  .btn1 {
    display: none;
  }
}
.btn1 a:hover {
  color: #1b1464;
}
.info {
  font-size: 1.4rem;
  color: #fff;
  text-align: right;
  position: absolute;
  width: 260px;
  bottom: 10px;
  left: 735px;
}
@media screen and (max-width: 680px) {
  .info {
    display: none;
  }
}

/* ここからヘッダー↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 1000px;
  margin-top: 20px;
  align-items: center;
  /* position: absolute; 
  z-index: 10; */
}
@media screen and (max-width: 680px) {
  header {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 680px) {
  .logo {
    width: 60%;
    margin-left: 20px;
  }
}
.nav1 {
  color: #1b1464;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex; /*nav1を横並び*/
  justify-content: space-between;
  width: 550px;
  text-align: center;
  align-items: center;
  padding: 0 5px;
}
@media screen and (max-width: 680px) {
  .nav1 {
    display: none;
  }
}
.nav1 li {
  width: calc(100% / 5 - 2px);
  display: block; /*ボタン全体*/
  justify-content: space-between;
  letter-spacing: 1px;
}
.nav1 li a {
  color: #1b1464;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.nav1 li a:hover {
  color: #aaa;
}
.info_ao {
  font-size: 1.4rem;
  color: #1b1464;
  font-weight: bold;
  text-align: right;
  width: 260px;
  padding: 0 5px;
}
@media screen and (max-width: 680px) {
  .info_ao {
    font-size: 1rem;
    width: 60%;
    margin-right: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 680px) {
  .nav_sp {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .nav_sp {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
  }
}
/* ここから当院セクション↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.About {
  width: 1000px;
  margin-top: 50px;
}
@media screen and (max-width: 680px) {
  .About {
    width: calc(100% - 70px);
    margin-left: 20px;
  }
}
@media screen and (max-width: 680px) {
  .About img {
    width: 100%;
  }
}
.about_nav {
  width: calc(1000px - 100px);
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 680px) {
  .about_nav {
    width: 100%;
    padding: 0;
  }
}
.box {
  width: calc(900px / 2 - 15px);
  border-radius: 10px;
  background-color: #1b1464;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 680px) {
  .box {
    width: calc(100% / 2 - 15px);
  }
}
.about_nav .box a {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  padding-left: 20px;
}
@media screen and (max-width: 680px) {
  .about_nav .box a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;
    font-weight: normal;
  }
}
.about_nav .box a:hover {
  color: #aaa;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 50px;
  width: calc(1000px - 100px);
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 680px) {
  .about {
    width: 100%;
    padding: 0;
  }
}
.title {
  width: calc(1000px - 100px);
  padding: 0px 50px;
  border-radius: 10px;
  background-color: #1b1464;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 680px) {
  .title {
    display: none;
  }
}
.about_set {
  width: calc(900px - 40px);
  padding: 0px 20px;
  display: flex;
}
@media screen and (max-width: 680px) {
  .about_set {
    width: 100%;
    padding: 0;
    flex-direction: column; /*縦並びにする*/
  }
  .about_set p {
    order: 2;
    margin-top: 20px;
  }
  .about_set img {
    order: 1;
    width: 100%;
    /* margin-bottom: 30px; */
  }
}
.tx_about {
  font-size: 1.6rem;
  color: #333;
  margin-right: 50px;
  line-height: 2.8rem;
}
@media screen and (max-width: 680px) {
  .tx_about {
    width: 100%;
    margin-right: 0px;
  }
}
.rinen_set {
  width: calc(1000px - 100px);
  padding: 0px 50px;
  color: #333;
  margin-bottom: 50px;
}
@media screen and (max-width: 680px) {
  .rinen_set {
    width: 100%;
    padding: 0;
  }
}
.p16 {
  font-size: 1.6rem;
  margin: 0px 0px 10px 0px;
  line-height: 2.8rem;
}
@media screen and (max-width: 680px) {
  .p16 {
    margin: 5px 0px 5px 10px;
  }
}
.p18 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 0.1rem solid #999;
}
@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }
}
.sp {
  display: none;
}
@media screen and (max-width: 680px) {
  .sp {
    display: block;
  }
}
/* ここからフッター↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
footer {
  width: calc(1000px - 100px);
  padding: 0px 50px;
}
@media screen and (max-width: 680px) {
  footer {
    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
}
.f_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 680px) {
  .f_img {
    width: 100%;
    margin-bottom: 30px;
    flex-direction: column; /*縦並びにする*/
  }
}
.f_link {
  width: 420px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 680px) {
  .f_link {
    width: 100%;
  }
}
.f_link li a {
  width: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #1b1464;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.8rem;
}
.f_link li a:hover {
  color: #aaa;
}
.copyr {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
