@charset "UTF-8";
/* * {
  outline: 1px red solid;
} */
html {
  font-size: 10px;
  scroll-behavior: smooth; /*滑らかにボタンを押して該当場所に飛ぶ*/
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "Hiragino Sans", "BIZ UDPGothic", "YuGothic", "游ゴシック", sans-serif;
}
.container {
  width: 1000px; /*固定表示はwidth*/
  margin: 0 auto; /*center表示:上下=0,左右=auto;*/
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}
main {
  position: relative;
}
@media screen and (max-width: 680px) {
  .main {
    position: relative;
    width: 100%;
  }
}
.gla {
  position: absolute;
  z-index: 0;
  width: 1000px;
  background: -moz-linear-gradient(
    7.5% 95.43% 65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    7.5% 95.43%,
    89.85% 7.41%,
    color-stop(0, rgba(255, 228, 191, 1)),
    color-stop(0.5356, rgba(225, 255, 255, 1)),
    color-stop(1, rgba(209, 251, 255, 1))
  );
  background: -o-linear-gradient(
    65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    65.76deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
  background: linear-gradient(
    24.24deg,
    rgba(255, 228, 191, 1) 0%,
    rgba(225, 255, 255, 1) 53.56%,
    rgba(209, 251, 255, 1) 100%
  );
}
@media screen and (max-width: 680px) {
  .gla {
    position: absolute;
    z-index: 0;
    width: 100%;
  }
}
.toP {
  position: relative; /*基準*/
  z-index: 10;
}
@media screen and (max-width: 680px) {
  .toP {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .toP img {
    width: 100%;
  }
}

.btn1 a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-image: url(../images/btn1.png);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
  left: 25px;
}
@media screen and (max-width: 680px) {
  .btn1 {
    display: none;
  }
}
.btn1 a:hover {
  color: #1b1464;
}
.info {
  font-size: 1.4rem;
  color: #fff;
  text-align: right;
  position: absolute;
  width: 260px;
  bottom: 10px;
  left: 735px;
}
@media screen and (max-width: 680px) {
  .info {
    display: none;
  }
}

/* ここからヘッダー↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 1000px;
  margin-top: 20px;
  align-items: center;
  position: absolute; /*.toPが基準*/
  z-index: 10;
}
@media screen and (max-width: 680px) {
  header {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 680px) {
  .logo {
    width: 60%;
    margin-left: 20px;
  }
}
.nav1 {
  color: #1b1464;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex; /*nav1を横並び*/
  justify-content: space-between;
  width: 550px;
  text-align: center;
  align-items: center;
  padding: 0 5px;
}
@media screen and (max-width: 680px) {
  .nav1 {
    display: none;
  }
}
.nav1 li {
  width: calc(100% / 5 - 2px);
  display: block; /*ボタン全体*/
  justify-content: space-between;
  letter-spacing: 1px;
}
.nav1 li a {
  color: #1b1464;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.nav1 li a:hover {
  color: #aaa;
}
.info_ao {
  font-size: 1.4rem;
  color: #1b1464;
  font-weight: bold;
  text-align: right;
  width: 260px;
  padding: 0 5px;
}
@media screen and (max-width: 680px) {
  .info_ao {
    font-size: 1rem;
    width: 60%;
    margin-right: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 680px) {
  .nav_sp {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .nav_sp {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
  }
}
/* ここから院長挨拶セクション↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.inchoAisatu {
  width: 1000px;
  position: relative;
  top: 80px;
  left: 0px;
  z-index: 10;
}
@media screen and (max-width: 680px) {
  .inchoAisatu {
    width: calc(100% - 70px);
    margin-left: 20px;
  }
}
@media screen and (max-width: 680px) {
  .inchoAisatu img {
    width: 100%;
  }
}
.incho_tx {
  font-size: 1.6rem;
  font-weight: normal;
  color: #333;
  line-height: 2;
  text-wrap: auto;
  padding: 0 50px;
  margin: 60px 0px 30px 0px;
}
@media screen and (max-width: 680px) {
  .incho_tx {
    width: 100%;
    margin-right: 10px;
    padding: 0;
  }
}
.incho_name {
  display: flex;
  justify-content: right;
  margin: 0px 50px 60px 0px;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
  align-items: flex-end;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "YuMincho",
    "游明朝体";
}
@media screen and (max-width: 680px) {
  .incho_name {
    width: 100%;
    margin-bottom: 60px;
  }
}
.incho_name p {
  margin: 0px 5px;
}
.point {
  font-size: 2rem;
  color: #333;
}
/* ここからコラムセクション↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.coLumn {
  width: 1000px;
  position: relative;
  top: 80px;
  left: 0px;
  z-index: 10;
}
@media screen and (max-width: 680px) {
  .coLumn {
    width: calc(100% - 70px);
    margin-left: 20px;
  }
}
@media screen and (max-width: 680px) {
  .coLumn img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.coLumn .subete {
  font-size: 1.4rem;
  color: #333;
  text-align: right;
  margin: 20px 50px 20px 0px;
}
@media screen and (max-width: 680px) {
  .coLumn .subete {
    width: 100%;
  }
}
.column {
  width: 900px;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: normal;
  color: #333;
  padding: 0 50px;
}
@media screen and (max-width: 680px) {
  .column {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
  }
}
.block {
  text-align: center; /*img中央揃え*/
}
@media screen and (max-width: 680px) {
  .block {
    width: 100%;
  }
}
.column p {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: #333;
  padding: 0 5px;
  margin-bottom: 50px;
  line-height: 1.5;
  text-wrap: auto;
  text-align: left; /*tx左揃え*/
}
@media screen and (max-width: 680px) {
  .column p {
    width: 100%;
    padding: 0;
  }
}
/* ここからお知らせセクション↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.oshiRase {
  width: 1000px;
  margin-top: 80px;
  z-index: 10;
}
@media screen and (max-width: 680px) {
  .oshiRase {
    width: calc(100% - 70px);
    margin-left: 20px;
  }
}
@media screen and (max-width: 680px) {
  .oshiRase img {
    width: 100%;
  }
}
.oshirase {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
@media screen and (max-width: 680px) {
  .oshirase {
    width: 100%;
    display: block;
    padding: 0;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr 4fr);
  gap: 10px;
  text-align: left;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .grid-container {
    width: 100%;
    gap: 5px;
  }
}
.oshirase_tx {
  width: 340px;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
  padding: 20px 0px 20px 0;
}
@media screen and (max-width: 680px) {
  .oshirase_tx {
    width: 100%;
    font-size: 1.4rem;
  }
}
.oshirase_tx ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.oshirase_tx .subete {
  font-size: 1.4rem;
  color: #333;
  text-align: right;
  margin-bottom: 20px;
  font-weight: normal;
}
@media screen and (max-width: 680px) {
  .oshirase_tx .subete {
    width: 100%;
  }
}
.s_point {
  font-size: 1.4rem;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .s_point {
    width: 100%;
  }
}
.grid-container li a {
  text-decoration: none;
  color: #333;
}
.grid-container li a:hover {
  color: #1b1464;
}
.oshirase_jikan {
  width: 560px;
  font-size: 1.4rem;
  color: #333;
  line-height: 1.5;
  margin-left: 5px;
  position: relative;
}
@media screen and (max-width: 680px) {
  .oshirase_jikan {
    width: 100%;
    line-height: 0;
    margin-left: 0;
  }
}
.shinryojikan {
  background-color: #1b1464; /*診療時間背景*/
  width: 555px;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 680px) {
  .shinryojikan {
    width: 100%;
    top: 0px;
  }
}
.shinryojikan_tx {
  /*診療時間内容*/
  width: calc(555px - 20px); /*左右10px余白*/
  height: 150px;
  padding: 10px 0px;
  color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  z-index: 20;
  top: 30px;
  left: 10px;
}
@media screen and (max-width: 680px) {
  .shinryojikan_tx {
    width: 100%;
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 680px) {
  .shinryojikan_tx img {
    width: 60%;
  }
}
.time {
  /*下線あり*/
  border-bottom: 2px solid #fff;
  font-size: 2rem;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .time {
    width: 100%;
    font-size: 1.4rem;
  }
}
.time2 {
  font-size: 2rem;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}
@media screen and (max-width: 680px) {
  .time2 {
    width: 100%;
    font-size: 1.4rem;
  }
}
.day {
  /*下線あり*/
  border-bottom: 2px solid #fff;
  font-size: 2.2rem; /*月火水木金土日*/
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .day {
    width: 100%;
    font-size: 1.4rem;
  }
}
.icon {
  /*下線あり*/
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .icon {
    width: 100%;
  }
}
.icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .icon2 {
    width: 100%;
  }
}
.oshirase_jikan p {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 50px;
}
@media screen and (max-width: 680px) {
  .oshirase_jikan p {
    width: 100%;
    line-height: 2.2rem;
  }
}
.spa {
  font-size: 1.8rem;
  color: #f7931e;
}
.pc {
  display: block;
}
@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }
}
.sp {
  display: none;
}
@media screen and (max-width: 680px) {
  .sp {
    display: block;
  }
}
/* ここからフッター↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
footer {
  width: calc(1000px - 100px);
  padding: 0px 50px;
}
@media screen and (max-width: 680px) {
  footer {
    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
}
.f_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 680px) {
  .f_img {
    width: 100%;
    margin-bottom: 30px;
    flex-direction: column; /*縦並びにする*/
  }
}
.f_link {
  width: 420px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 680px) {
  .f_link {
    width: 100%;
  }
}
.f_link li a {
  width: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #1b1464;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.8rem;
}
.f_link li a:hover {
  color: #aaa;
}
.copyr {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
